*{
    margin: 0;
    padding: 0;
}

.item{
    height: 100px;
    background: blue;
    width: 100px;

}

.item:nth-of-type(odd){
    background: pink;
}

.container{
    background: yellow;
    height: 500px;
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
}

/* navbar styling section */

.nav-body{
    background: pink;
}

nav{
    background: teal;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right ul{
    display: flex;
    gap: 10px;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: red;
}

.nav-left h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left{
    width: 50%;
}

.hero-right{
    width: 50%;
    height: 100%;    
    display: flex;
    align-items: center;
}

.hero-right img{
    width: 400px;
   height: 400px;
    object-fit: cover;
    border-radius: 50%;
    transition: ease all 0.5s;
}

.hero-right img:hover{
    transform: translateY(-8px);
}


.hero-left h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
